
@{
    ViewData["Title"] = "Index";
}

@model List<Folder>

<div>
    @if (@ViewBag.ParentFolderName != null)
    {
        <h1>"Folder": @ViewBag.ParentFolderName</h1>
    }
    else{
        <a asp-controller="Folders" asp-action="ImportAndExportOfFiles" class="my-a">Import/Export</a>
    }
    <div class="folders">
        @foreach (var folder in Model)
        {
            <div class="folder">
                <a asp-controller="Folders" asp-action="Index" asp-route-id="@folder.Id" class="folder">
                    <img src="~/img/folder.png" class="folder-img" />
                    @folder.Name
                </a>

            </div>
        }
    </div>
    
</div>


